body {
    background-color: rgb(190, 82, 82);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.header {
   font-size: 2rem;
   text-shadow:black 3px 3px;   
}

.number {
    font-size: 5rem;
    text-shadow: black 3px 3px;
    margin: 50px;
}

.count_button {
    border-radius: 15px;
    padding: 2em 3em;
    box-shadow: 2px 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin: 10px;
    width: 190px;
    height: 80px;
}

.count_button:hover {
    background-color: rgb(223, 221, 221);
}

.save_feature {
    font-size: 1rem;
    text-shadow: black 3px 3px;
}
