body {
    background-color: rgb(190, 82, 82);
    color: white;
    text-align: center;
}

.header {
   font-family: 'Courier New', Courier, monospace;
   font-size: 2rem;
   text-shadow:black 3px 3px;   
}

.number {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: black 3px 3px;
    margin: 100px;
}

.press_me {
    border-radius: 8px;
    padding: 2em 3em;
    box-shadow: 2px 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.press_me:hover {
    background-color: rgb(223, 221, 221);
}
